body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav {
    width: 40%;
    margin-top: 50px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

li {
    display: block;
    /* border: 1px solid black; */
    padding: 3px 8px;
}

a:hover {
    border-bottom: 2px solid black;
    box-shadow: 5px 5px lightgrey;
}
.container {
    margin: 50px;
}
#gallery {
    width: 100%;
    height: 500px;
    background-color: orange;
}

#about {
    width: 100%;
    height: 500px;
    background-color: red;
}

#contact {
    width: 100%;
    height: 500px;
    background-color: green;
}

#home {
    width: 100%;
    height: 500px;
    background-color: yellow;
}