body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
    /* list-style: none; */
    color: black;
    font-size: 25px;
    font-weight: bold;
}

li {
    display: block;
    /* border: 1px solid black; */
    padding: 3px 8px;
    list-style: none;
}

.menu:hover {
    /* border-bottom: 2px solid black; */
    border: 1px solid black;
    padding: 10px;
    
}
.container {
    margin: 50px 150px;
}

.welcome {
    /* font-size: 30px; */
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 50px; */
    /* outline: 2px solid red; */
}
.welcome::before,
.welcome::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.welcome::before {
    background: white;
    animation: type 6s steps(33) 1s forwards;
}
.welcome::after {
    width: 0.125em;
    background: black;
    animation: type 6s steps(33) 1s forwards, blink 750ms steps(33) infinite;
}
@keyframes type {
    to {
        left: 100%; 
    }
}
@keyframes blink {
    to {
        background: transparent;
    }
}
.area {
    /* width: 100%; */
    height: 700px;
    margin-top:100px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border: 1px solid black;
}
.active {
    background: black;
    color: white;
    padding: 10px;   
}

.group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.group > div > h3 {
    font-size: 25px;
}
.social {
    display: flex;
    list-style: none;
    justify-content: center;
    /* width: fit-content;
    height: fit-content; */
}

.logo > img {
    width: 50px;
    height: 50px;
    transition: all 0.2s linear;
}

.logo > img:hover {
    width: 70px;
    height: 70px;
}

.address {
    font-weight: bold;
}

.scroll {
    height: 100%;
    overflow: hidden;
    overflow: auto;
}
.total {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    margin: auto;
    list-style: none;
    text-decoration: none;

}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    gap: 50px;
   
}

.gallery > img {
    width: 400px;
    height: 400px;
    background-color: white;
}


